@import "../../styling/buttons";

.Summary {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__results {
    width: 50%;

    &-item {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      border-bottom: 1px solid #ccc;
    }
  }

  &__restart-btn {
    @extend .button--restart;
    margin-top: 2rem;
  }
}
