$green--100: #44c767;
$green--300: #5cbf2a;
$green--500: #18ab29;
$green--700: #2f6627;

$grey--100: #adadad;
$grey--300: #9e9e9e;
$grey--500: #8a8a8a;
$grey--700: #000000;

$red--100: #f02727;
$red--300: #d63232;
$red--500: #b32020;
$red--700: #000000;
